<template>
   <div>
      <img src="../assets/hamburger-menu.png" class="menu-icon" @click="toggleMenu()" v-if="!showMenu"/> 
      <img src="../assets/close.png" class="menu-icon" @click="toggleMenu()" v-if="showMenu"/>
      <div class="main-container">
         <div class="container" v-if="appdata && showMenu">
            <div  class="img-wrap">
               <img src="../assets/finance.png" alt="" srcset="">
            </div>
            <div v-for="(data, index) in appdata" :key="index" class="box-wrapper">
               <img :src="getImgUrl(data.CLS_ICON)" alt="../assets/icons/metabase.svg" class="box-wrapper__img" >
                  <h1 class="box-wrapper__heading">{{data.APP_NAME ? data.APP_NAME : 'Default name'}}</h1>
            </div>
         </div>  
      </div>
    </div>
</template>

<script>
export default {
    name: 'MegaMenu',
    props: [
      'appdata'
    ],
    data() {
       return {
          showMenu: false,
       }
    },
     mounted () {
         document.addEventListener('click', this.close)
      },
      beforeDestroy () {
         document.removeEventListener('click',this.close)
      },
    methods: {
       getImgUrl(pic) {
          if (pic) {
             // for displaying prop icon
             return require('../assets/icons/'+pic+'.svg')
          } else {
             // for displaying default icon
             return require('../assets/close.png')
          }
      },
      close (e) {
         if (!this.$el.contains(e.target)) {
         this.showMenu = false
         }
      },
      toggleMenu() {
         this.showMenu = !this.showMenu;
      }
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
   .menu-icon {
      width: 70px;
   }
   .main-container {
      max-height: 600px;
      overflow: auto;
   }
   .container {
      font-family: 'Open Sans', sans-serif;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
      margin: 0 auto;
      background: #1c1c50;
      .img-wrap {
         height: 246px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      .box-wrapper {
         text-align: center;
         height: 246px;
         background: #0e0e28;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         &:nth-child(odd) {
            background-color: #1c1c50;
         }
         &__img {
            max-width: 150px;
         }
         &__heading {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
         }
         &:hover {
            background: #1c1c50;
            &:nth-child(2n) {
               background-color: #0e0e28;
            }
         }
         
      }
   }

</style>