<template>
  <div id="app">
    <app-mega-menu :appdata="appdata"></app-mega-menu>
  </div>
</template>

<script>
import MegaMenu from './components/MegaMenu.vue'

export default {
  name: 'App',
  components: {
    'appMegaMenu': MegaMenu
  },
  data() {
        return {
   "appdata":[
      {  
         "APP_ID":"administration",
         "APP_NAME":"",
         "CLS_ICON":"",
         "SEQ":1,
         "ROUTE":"app/Administration",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Administration",
         "APP_PAGE":"Framewrk/Administration.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"administration",
         "APP_NAME":"Administration",
         "CLS_ICON":"metabase",
         "SEQ":1,
         "ROUTE":"app/Administration",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Administration",
         "APP_PAGE":"Framewrk/Administration.html",
         "IS_DEFAULT":"Y"
      },
      {  
         "APP_ID":"operations",
         "APP_NAME":"Operations",
         "CLS_ICON":"metabase",
         "SEQ":2,
         "ROUTE":"app/Operations",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Operations",
         "APP_PAGE":"Framewrk/Operations.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"clientmanagement",
         "APP_NAME":"Client Management",
         "CLS_ICON":"metabase",
         "SEQ":3,
         "ROUTE":"app/Client Management",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Client Management",
         "APP_PAGE":"Framewrk/ClientManagement.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"investorservices",
         "APP_NAME":"Investor Services",
         "CLS_ICON":"metabase",
         "SEQ":4,
         "ROUTE":"app/Investor Services",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Investor Services",
         "APP_PAGE":"Framewrk/InvestorServices.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"ebs",
         "APP_NAME":"EBS",
         "CLS_ICON":"metabase",
         "SEQ":5,
         "ROUTE":"app/EBS",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"EBS",
         "APP_PAGE":"Framewrk/EBS.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"midoffice",
         "APP_NAME":"Mid Office",
         "CLS_ICON":"metabase",
         "SEQ":6,
         "ROUTE":"app/Mid Office",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Mid Office",
         "APP_PAGE":"Framewrk/MidOffice.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"fundmanagement",
         "APP_NAME":"Fund Management",
         "CLS_ICON":"metabase",
         "SEQ":7,
         "ROUTE":"app/Fund Management",
         "ONLOAD":"ifwk.onLoadSTDApp",
         "DESCRIPTION":"Fund Management",
         "APP_PAGE":"Framewrk/FundManagement.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"rmoneview",
         "APP_NAME":"RM Oneview",
         "CLS_ICON":"metabase",
         "SEQ":8,
         "ROUTE":"app/RM Oneview",
         "ONLOAD":null,
         "DESCRIPTION":"RM Oneview",
         "APP_PAGE":"oneview/rm/dist/index.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"customeroneview",
         "APP_NAME":"Customer Oneview",
         "CLS_ICON":"metabase",
         "SEQ":9,
         "ROUTE":"app/Customer Oneview",
         "ONLOAD":null,
         "DESCRIPTION":"Customer Oneview",
         "APP_PAGE":"oneview/customer/dist/index.html",
         "IS_DEFAULT":"N"
      },
      {  
         "APP_ID":"customeroneview",
         "APP_NAME":"Customer Oneview",
         "CLS_ICON":"metabase",
         "SEQ":9,
         "ROUTE":"app/Customer Oneview",
         "ONLOAD":null,
         "DESCRIPTION":"Customer Oneview",
         "APP_PAGE":"oneview/customer/dist/index.html",
         "IS_DEFAULT":"Y"
      },
   ],
   "def_app":{
      
   }
}
        }
}
</script>


